:root {
    --bgcolor: #2A3037;
    --accent-font-color: #E866ED;
    --main-font-color: #fff;
    --border-color: #fff;
    --curved-border: 5px;
}

body {
    background-color:var(--bgcolor);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--main-font-color);
}

#snippet-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.snippet {
   flex: 0 0 30%;
   max-width: 30%;
   padding: 15px;
   margin: 30px auto;
   border: 1px dashed var(--border-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-font-color);
}

.snippet h2 {
    position: relative;
    font-size: 18px;
    background-color: var(--bgcolor);
    border: 1px solid var(--border-color);
    border-radius: var(--curved-border);
    padding: 8px 14px;
    margin-top: -30px;
}

.snippet pre {
    border-radius: var(--curved-border);
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
}